html {
  font-size: 30px;
}

.header {
  width: 100vw;
  height: 1.6666666667rem;
  line-height: 1.6666666667rem;
  padding: 0 0.6666666667rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1666666667rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 100;
}
.header i {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  background: url("../images/sousuo.gif");
  background-size: cover;
  margin-top: 0.4166666667rem;
}
.header h2 {
  font-size: 0.6rem;
  font-weight: 400;
}

.product {
  margin-top: 1.6666666667rem;
}
.product .list {
  padding: 0 0.6666666667rem;
  overflow: auto;
}
.product .list li {
  width: 100%;
  height: 3.5833333333rem;
  border: 1px solid gainsboro;
  display: flex;
  padding: 0.3333333333rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border-radius: 0.0833333333rem;
  box-shadow: 2px 2px 3px #eee;
}
.product .list li img {
  width: 1.9833333333rem;
  height: 2.75rem;
  margin-right: 0.3333333333rem;
}
.product .list li div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product .list li div:nth-of-type(2) p:nth-of-type(1) {
  font-size: 0.5rem;
  color: #333;
}
.product .list li div:nth-of-type(2) p:nth-of-type(2),
.product .list li div:nth-of-type(2) p:nth-of-type(3) {
  font-size: 0.4333333333rem;
  color: #666;
}
.product .list li div:nth-of-type(2) p:nth-of-type(2) a,
.product .list li div:nth-of-type(2) p:nth-of-type(3) a {
  color: #666;
}

.footer {
  width: 100vw;
  height: 10vh;
  border-top: 1px solid gainsboro;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 100;
}
.footer ul {
  display: flex;
  justify-content: space-between;
  line-height: 10vh;
}
.footer ul li {
  width: 25%;
  text-align: center;
  font-size: 0.5333333333rem;
}
.footer ul i {
  display: inline-block;
  width: 0.5333333333rem;
  height: 0.5333333333rem;
  background: url("../images/btn.gif");
  background-size: cover;
}
