    html {
        font-size: 30px;
    }
    
    @function px2rem($px) {
        $rem: 60px;
        @return($px/$rem)+rem;
    }
    
    .header {
        width: 100vw;
        height: px2rem(100px);
        line-height: px2rem(100px);
        padding: 0 px2rem(40px);
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-bottom: px2rem(10px);
        position: fixed;
        top: 0;
        background: #fff;
        z-index: 100;
        i {
            width: px2rem(40px);
            height: px2rem(40px);
            background: url('../images/sousuo.gif');
            background-size: cover;
            margin-top: px2rem(25px);
        }
        h2 {
            font-size: px2rem(36px);
            font-weight: 400;
        }
    }
    
    .product {
        margin-top: px2rem(100px);
        .list {
            padding: 0 px2rem(40px);
            overflow: auto;
            li {
                width: 100%;
                height: px2rem(215px);
                border: 1px solid gainsboro;
                display: flex;
                padding: px2rem(20px);
                box-sizing: border-box;
                margin-bottom: px2rem(30px);
                border-radius: px2rem(5px);
                box-shadow: 2px 2px 3px #eee;
                img {
                    width: px2rem(119px);
                    height: px2rem(165px);
                    margin-right: px2rem(20px);
                }
                div:nth-of-type(2) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    p:nth-of-type(1) {
                        font-size: px2rem(30px);
                        color: #333;
                    }
                    p:nth-of-type(2),
                    p:nth-of-type(3) {
                        font-size: px2rem(26px);
                        color: #666;
                        a {
                            color: #666;
                        }
                    }
                }
            }
        }
    }
    
    .footer {
        width: 100vw;
        height: 10vh;
        border-top: 1px solid gainsboro;
        position: fixed;
        bottom: 0;
        background: #fff;
        z-index: 100;
        ul{
            display: flex;
            justify-content: space-between;
            line-height: 10vh;
            li{
                width: 25%;
                text-align: center;
                font-size: px2rem(32px);
            }
            i{
                display: inline-block;
                width: px2rem(32px);
                height: px2rem(32px);
                background: url("../images/btn.gif");
                background-size: cover;
            }
        }
    }
    
    @mixin text-clamp($lines: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-line-clamp: $lines;
    }