    html {
        font-size: 30px;
        background: rgb(247,247,255);
    }
    
    @function px2rem($px) {
        $rem: 60px;
        @return($px/$rem)+rem;
    }
    
    .header {
        width: 100vw;
        height: px2rem(100px);
        line-height: px2rem(100px);
        padding: 0 px2rem(40px);
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        p {
            font-size: px2rem(30px);
        }
    }
    .content{
        width: 100vw;
          padding: 0 px2rem(40px);
        box-sizing: border-box;
        font-size: px2rem(32px);
        text-indent: 2em;
        line-height:px2rem(80px) ;
        overflow: auto;
    }
