html {
  font-size: 30px;
  background: #f2f2f2;
}

.header {
  width: 100vw;
  height: 1.6666666667rem;
  line-height: 1.6666666667rem;
  padding: 0 0.6666666667rem;
  box-sizing: border-box;
  margin-bottom: 0.1666666667rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 100;
}
.header i {
  display: inline-block;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  background: url("../img/left.png");
  background-size: cover;
  margin-top: 0.4166666667rem;
}

.pri {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.6666666667rem;
  text-align: center;
  background: #fff;
}
.pri img {
  width: 3rem;
  height: 4rem;
  display: block;
  margin: 0 auto 0.3333333333rem;
}
.pri p:nth-of-type(1) {
  margin-bottom: 0.3333333333rem;
  font-size: 0.5rem;
}
.pri p:nth-of-type(2) {
  font-size: 0.4rem;
  color: #999;
  margin-bottom: 0.3333333333rem;
}

.text {
  width: 100vw;
  height: 25vh;
  padding: 0.6666666667rem;
  box-sizing: border-box;
  margin-top: 0.3333333333rem;
  background: #fff;
}
.text p {
  font-size: 0.3333333333rem;
  line-height: 0.8333333333rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 4;
  color: #666;
}

.look {
  width: 100vw;
  height: 1.6666666667rem;
  line-height: 1.6666666667rem;
  padding: 0 0.6666666667rem;
  box-sizing: border-box;
  display: flex;
  background: #fff;
  margin-top: 0.3333333333rem;
  justify-content: space-between;
}
.look span {
  font-size: 0.4166666667rem;
  color: #666;
}

.jx {
  width: 100vw;
  background: #fff;
  margin-top: 0.3333333333rem;
}
.jx .title {
  width: 100%;
  height: 1.6666666667rem;
  line-height: 1.6666666667rem;
  display: flex;
  padding: 0 0.6666666667rem;
  box-sizing: border-box;
  justify-content: space-between;
}
.jx .title p {
  font-size: 0.5rem;
}
.jx .title p:nth-of-type(2) {
  color: orange;
  font-size: 0.4666666667rem;
}
.jx ul {
  display: flex;
  padding: 0 0.6666666667rem;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
}
.jx ul li {
  width: 22%;
  height: 4.3333333333rem;
  margin-bottom: 0.3333333333rem;
}
.jx ul li img {
  width: 100%;
  height: 3.3333333333rem;
}
.jx ul li p {
  font-size: 0.4666666667rem;
  text-align: left;
}

.footer {
  width: 100vw;
  height: 10vh;
  border-top: 1px solid gainsboro;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 100;
}
.footer ul {
  display: flex;
  justify-content: space-between;
  line-height: 10vh;
}
.footer ul li {
  width: 33.3%;
  text-align: center;
  font-size: 0.5rem;
}
.footer ul i {
  display: inline-block;
  width: 0.5333333333rem;
  height: 0.5333333333rem;
  background: url("../img/left.png");
  background-size: cover;
}
